{# Info Tab #}
<section class="container--profil-info container my-5 py-5 rounded">
    <div class="d-flex flex-lg-row flex-column">
        {# Avatar #}
        <div class="col-lg-4 offset-lg-1 mb-3 mb-lg-0 text-center">
            {% if showAccount.avatar is not null %}
                <div class="row flex-column align-items-center">
                    <a href="{{ showAccount.creditAvatar }}" target="_blank" title="Accéder à l'auteur">
                        <img src="/web/img/avatar/{{ showAccount.avatar }}"
                             alt="Avatar" class="img-fluid rounded" width="250px" height="400px">
                    </a>
                    <div class="d-flex justify-content-center bg-ln-gold rounded" style="width: 250px;">
                        <span class="text-ln-coal">Niveau {{ showAccount.level }}</span>
                    </div>
                </div>
            {% else %}
                <div class="row flex-column align-items-center">
                    <img src="/web/img/avatar/default.png"
                         alt="Avatar" class="img-fluid rounded">
                    <div class="d-flex justify-content-center bg-ln-gold rounded" style="width: 250px;">
                        <span class="text-ln-coal">Niveau {{ showAccount.level }}</span>
                    </div>
                </div>
            {% endif %}
        </div>
        {# Character sheet #}
        <div class="profil--info-list col-lg-6 p-4 rounded">
            <div class="container">
                <div>
                    <h3>Informations</h3>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <ul class="col-lg-6">
                        <li><span>Âge :</span>
                            {{ showAccount.age }}
                            {% if showAccount.age == 1 %}an{% elseif showAccount.age is null %}
                            {% else %}ans{% endif %}
                        </li>
                        <li><span>Sexe :</span> {{ showAccount.sexe }}</li>
                        <li><span>Race :</span> {{ showAccount.race }}</li>
                    </ul>
                    <ul class="col-lg-6">
                        <li>
                            <span>Richesse :</span>
                            {{ coin.gold }} <span class="gold">or.</span>
                            {{ coin.silver }} <span class="silver">ar.</span>
                            {{ coin.copper }} <span class="copper">cu.</span>
                        </li>
                        <li><span>Réputation :</span>
                            {% set reput = (showAccount.reputation + voteLike) - voteDislike %}
                            <span style="font-weight: normal;
                                    {% if reput < 0 %}color: #DA3B01;
                            {% elseif reput >= 0 %}color: #647C64;
                                                {% endif %}">

                                {# Positif #}
                                {% if reput >= 0 and reput < 100 %}
                                    {% set grade = 'anodin' %}
                                {% endif %}
                                {% if reput >= 100 and reput < 200 %}
                                    {% set grade = 'familier' %}
                                {% endif %}
                                {% if reput >= 200 and reput < 300 %}
                                    {% set grade = 'célèbre' %}
                                {% endif %}
                                {% if reput >= 300 and reput < 400 %}
                                    {% set grade = 'héroïque' %}
                                {% endif %}
                                {% if reput >= 400 %}
                                    {% set grade = 'légendaire' %}
                                {% endif %}

                                {# Negatif #}
                                {% if reput < 0 and reput > -100 %}
                                    {% set grade = 'méprisable' %}
                                {% endif %}
                                {% if reput <= -100 and reput > -200 %}
                                    {% set grade = 'exécrable' %}
                                {% endif %}
                                {% if reput <= -200 and reput > -300 %}
                                    {% set grade = 'effrayant' %}
                                {% endif %}
                                {% if reput <= -300 and reput > -400 %}
                                    {% set grade = 'monstrueux' %}
                                {% endif %}
                                {% if reput <= -400 %}
                                    {% set grade = 'démoniaque' %}
                                {% endif %}

                                {{ grade }}
                            </span>
                        </li>
                        <li><span>Alignement :</span> {{ showAccount.alignement }}</li>
                    </ul>
                </div>
                <hr>
                <div class="container row">
                    <div>
                        <h3>Caractéristiques</h3>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            {% set bonusLevel = showAccount.level - 1 %}
                            <div><span class="font-weight-bold">Intellect :</span>
                                {% if showAccount.race == 'ondin' %}
                                    {{ competence.intellect + bonusLevel + 10 }}%
                                {% elseif showAccount.race == 'malemort' %}
                                    {{ competence.intellect + bonusLevel + 5 }}%
                                {% else %}
                                    {{ competence.intellect + bonusLevel }}%
                                {% endif %}
                            </div>
                            <div><span class="font-weight-bold">Physique :</span>
                                {% if showAccount.race == 'automate' %}
                                    {{ competence.physique + bonusLevel + 10 }}%
                                {% elseif showAccount.race == 'humain' %}
                                    {{ competence.physique + bonusLevel + 5 }}%
                                {% else %}
                                    {{ competence.physique + bonusLevel }}%
                                {% endif %}
                            </div>
                            <div><span class="font-weight-bold">Dextérité :</span>
                                {% if showAccount.race == 'malemort' %}
                                    {{ competence.dexterite + bonusLevel + 10 }}%
                                {% else %}
                                    {{ competence.dexterite + bonusLevel }}%
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div><span class="font-weight-bold">Social :</span>
                                {% if showAccount.race == 'ondin' %}
                                    {{ competence.social + bonusLevel + 5 }}%
                                {% elseif showAccount.race == 'humain' %}
                                    {{ competence.social + bonusLevel + 10 }}%
                                {% else %}
                                    {{ competence.social + bonusLevel }}%
                                {% endif %}
                            </div>
                            <div><span class="font-weight-bold">Artisanat :</span>
                                {% if showAccount.race == 'automate' %}
                                    {{ competence.artisanat + bonusLevel + 5 }}%
                                {% else %}
                                    {{ competence.artisanat + bonusLevel }}%
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if showAccount.has_edit == 0 and sessionUser.id == showAccount.id %}
                        <div class="row justify-content-end">
                            <a href="/account/character-{{ showAccount.id }}/preference">
                                Modifier sa fiche de personnage
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# Inventaire #}
    <div class="profil--info-block container my-5">
        <h3 class="text-center">Inventaire</h3>
        <hr class="mb-4" style="width: 25%">
        <div class="bg-transparent row justify-content-center" style="box-shadow: none;">
            <div class="col-lg-5" style="background: none; box-shadow: none;">
                <div class="p-3" style="overflow-y: auto;">
                    {% for inventory in showInventory %}
                        <span style="color: {{ inventory.color }}">
                            {{ inventory.name }}
                        </span> x {{ inventory.number }}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {# Heading #}
    {% for heading in showHeading %}
        <div class="profil--info-block container my-5">
            <h3>{{ heading.name }}</h3>
            <hr class="mb-4">
            {% for paragraph in showParagraph if paragraph.idHeading == heading.id %}
                {% if paragraph.idUser == showAccount.id %}
                    <div class="p-3">
                        {{ paragraph.content|raw }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

    {% if showAccount.id == sessionUser.id or sessionUser.idGroup >= 2 %}
        <div class="text-center">
            <a href="/account/character-{{ showAccount.id }}/parameter"
               class="btn">Modifier le profil</a>
        </div>
    {% endif %}
</section>