{% extends 'base.twig' %}

{% block main %}
    <main>
        {% if showAccount.isBanned == 0 %}
            {# Title #}
            <section class="container--profil-title container-fluid py-4">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-12 text-center">
                        <h1 class="m-0">{{ showAccount.pseudo }}</h1>
                        <h5 class="m-0">{{ showAccount.groupName }}</h5>
                        {% if doubleAccount.checked == 1 %}
                            <h6 class="m-0">
                                Compte secondaire de <a href="/account/character-{{ doubleAccount.id }}">
                                    {{ doubleAccount.pseudo }}
                                </a>
                            </h6>
                        {% endif %}
                    </div>
                </div>
            </section>

            {# Mini Nav #}
            <section class="container-fluid">
                <nav class="row justify-content-center align-items-center">
                    <ul class="nav navbar">
                        <li class="nav-item">
                            <a href="/account/character-{{ showAccount.id }}/info"
                               class="nav-link text-white">
                                <i class="fas fa-home d-none d-lg-inline"></i> Info
                            </a>
                        </li>
                        {% if showAccount.id == sessionUser.id %}
                            <li class="nav-item mx-lg-5">
                                <a href="/account/character-{{ showAccount.id }}/preference"
                                   class="nav-link text-white"><i class="fas fa-tasks d-none d-lg-inline"></i>
                                    Préférences
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/account/character-{{ showAccount.id }}/security"
                                   class="nav-link text-white"><i class="fas fa-lock d-none d-lg-inline"></i>
                                    Sécurité
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </section>

            {% if profilTab == 'info' %}
                {% include '/account/profilTabInfo.twig' %}
            {% endif %}
            {% if profilTab == 'preference' and showAccount.id == sessionUser.id %}
                {% include '/account/profilTabPreference.twig' %}
            {% endif %}
            {% if profilTab == 'security' and showAccount.id == sessionUser.id %}
                {% include '/account/profilTabSecurity.twig' %}
            {% endif %}
            {% if profilTab == 'parameter' and showAccount.id == sessionUser.id or sessionUser.idGroup >= 2 %}
                {% include '/account/profilTabParameter.twig' %}
            {% endif %}
        {% endif %}
    </main>
{% endblock main %}

{% block script %}
    <script>

        $('#traits').on('change', function () {
            let total =
                parseInt($('#intellect').val()) +
                parseInt($('#social').val()) +
                parseInt($('#physique').val()) +
                parseInt($('#dexterite').val()) +
                parseInt($('#artisanat').val());
            let traits = $('#total-traits');
            if (total > 40 || total < 0) {
                traits.addClass('text-warning')
            }
            traits.html(total);
        });
    </script>
{% endblock script %}