{% extends 'base.twig' %}

{% block main %}
    <main>
        <section class="container my-5">
            {# Each Heading #}
            {% for heading in showHeading %}
                <h1 class="text-ln-gold-ghost">{{ heading.name }}</h1>
                <div class="row justify-content-around align-items-center">
                    {# Each Category #}
                    {% for category in showCategory if category.idHeading == heading.id %}
                        <div class="block--category rounded col-lg-5 col-11 my-2 p-0"
                             style="background: url('/web/img/category/{{ category.img }}') no-repeat center;background-size: cover;max-height: 25vh;">
                            <div class="pt-3 px-3">
                                <a href="/forum/{{ category.slug }}">
                                    <h5 class="text-center">{{ category.name }}</h5>
                                    {{ category.content|raw }}
                                </a>
                            </div>
                            <div class="mt-auto">
                                <p class="px-3">
                                    {{ test }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock main %}